Weekday Only Email Reminder (1).json
{
  "name": "Weekday Only Email Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "72c1f8d2-f928-494e-86c8-ca80a81c9c5c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b4b4ae6-f318-4bca-ae25-23af14f43e23",
              "name": "message",
              "value": "Hi, this is your weekly reminder!",
              "type": "string"
            },
            {
              "id": "3add2b2f-4e2b-466a-b385-ccd064611848",
              "name": "date",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "f4dfb1db-011e-4edf-9edb-177838d7aeca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "836a2ec1-29d4-4000-84f0-9c83d925a401",
              "leftValue": "={{ [1,2,3,4,5].includes(new Date($json.date).getDay()) }}\n",
              "rightValue": {},
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8dacbbc2-c233-4db8-a703-2fb851129cd2",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "5c6fcaf1-b936-43c4-ad89-b3b0ed267194",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "Hi, today is weekend",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "06900bae-2b7a-4fbd-8930-92516c5309d2",
      "name": "Weekend reminder",
      "webhookId": "ded7b9de-128c-422c-a9b0-4748f47baf0f",
      "credentials": {
        "gmailOAuth2": {
          "id": "x4ccJ3mA4SGIuqo1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "Today is not weekend!",
        "message": "Today isn't weekend so better go and grind!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ],
      "id": "b1bdb73f-a70a-41c5-9510-a9a9335fe06d",
      "name": "Weekday Reminder",
      "webhookId": "970232f4-8112-4985-ab92-b28e3a7feec4",
      "credentials": {
        "gmailOAuth2": {
          "id": "x4ccJ3mA4SGIuqo1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Weekend reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Weekday Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "513cd0d1-b53d-4fe0-ae9c-637275b6ee0e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d4e41ac00f47d48db81622a42173403a2c3150258a9fa8d8d121acaeccc607f"
  },
  "id": "updklkI_hYu7D1scyAyGD",
  "tags": []
}